<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.navApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Mr Wang Application</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>LLViewController.h:comments</string>
						<string>LLViewController.h:imports:importCocoa</string>
						<string>LLViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>LLViewController.m:comments</string>
						<string>LLViewController.m:imports:importHeader:LLViewController.h</string>
						<string>LLViewController.m:extension</string>
						<string>LLViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>LLViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>LLViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>LLViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>AppDelegate.m:imports:importHeader:LLViewController.h</string>
						<string>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:body</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
self.window.backgroundColor = [UIColor whiteColor];
[self.window makeKeyAndVisible];
    
UINavigationController *nav = [[UINavigationController alloc] initWithRootViewController:[LLViewController new]];
self.window.rootViewController = nav;</string>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>LLViewController.swift:comments</string>
						<string>LLViewController.swift:imports:importCocoa</string>
						<string>LLViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>LLViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>LLViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>LLViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>LLViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>self.window = UIWindow(frame: UIScreen.main.bounds)
self.window?.backgroundColor = UIColor.white
self.window?.makeKeyAndVisible()

self.window?.rootViewController = UINavigationController.init(rootViewController: LLViewController())</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
